<style>
div.button-wrap {
    display:inline-block;
    margin-left:15px;
}
.dropdown-menu-bespoke {
    padding: 2px;
    min-width: 100px;
}
li.selected {
    background-color:#DDD;
}
li.has_sitelink {
    border-right:3px solid #FF4848 !important;
}
li.is_disambig {
    border-left:3px solid #48FF48 !important;
}
</style>

<template id='article-page-template'>
<div class='container-fluid'>
    <div class="row">
<!--
    <small>[<a target='_blank' href='//www.wikidata.org/wiki/Special:Contributions/" + encodeURIComponent(d.result.query.userinfo.name) + "'>edits</a>]</small>
-->
        <div class="card" style="width: 100%;" id="button_row">
            <div class="card-body" style="display: inherit;">
                <div v-if='typeof this.fixed_page=="undefined" || this.fixed_page==""' class='button-wrap' style="margin-right: 20px;">
                    <button class='btn btn-outline-danger' @click.prevent="skip" tt="skip"></button>
                </div>
                <div class='button-wrap'>
                    <button class='create-button btn btn-outline-primary' @click.prevent="create_new_item" tt="button_new_item"></button>
                </div>
                <div v-for="g in buttons">
                    <div v-if='g.entries.length==1'>
                        <div v-for="e in g.entries" class='button-wrap'>
                            <button v-if='typeof e.label!="undefined"' class='create-button btn btn-outline-primary' @click.prevent="create_item_with_p31(e.q)" :tt="'button_'+e.label"></button>
                            <button v-else class='create-button btn btn-outline-primary' @click.prevent="create_item_with_p31(e.q)">
                                <wd-link :item="e.q" as_text='1' :language="tt.language"></wd-link>
                            </button>
                        </div>
                    </div>
                    <div v-else>
                        <div class='button-wrap btn-group' role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" :tt="'group_'+g.label"></button>
                            <div class="dropdown-menu dropdown-menu-bespoke" aria-labelledby="btnGroupDrop1">
                                <div v-for="e in g.entries" class='button-wrap' style="margin-bottom: 0.1rem;">
                                    <button v-if='typeof e.label!="undefined"' class='create-button btn btn-outline-primary' @click.prevent="create_item_with_p31(e.q)" :tt="'button_'+e.label"></button>
                                    <button v-else class='create-button btn btn-outline-primary' @click.prevent="create_item_with_p31(e.q)">
                                        <wd-link :item="e.q" as_text='1' :language="tt.language"></wd-link>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="wiki=='specieswiki'" class='button-wrap btn-group' role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" :tt="'group_taxon'"></button>
                    <div class="dropdown-menu dropdown-menu-bespoke" aria-labelledby="btnGroupDrop1">
                        <div v-for="q in species_group" class='button-wrap' style="margin-bottom: 0.1rem;">
                            <button class='create-button btn btn-outline-primary' @click.prevent="create_item_with_taxon(q)">
                                <wd-link :item="q" as_text='1' :language="tt.language"></wd-link>
                            </button>
                        </div>
                    </div>
                </div>
                <div v-if='current_q!=""' class='button-wrap' style="margin-left: 20px;">
                    <button class='btn btn-outline-success' @click.prevent="add_to_current_q" tt="add" :tt1="current_q"></button>
                </div>

                <div v-if='logged_in()' style="margin-left: 20px;">
                    <small>
                        [<a :href="'https://www.wikidata.org/wiki/Special:Contributions/'+user_name()" target="_blank" class="wikidata" tt="your_last_edits"></a>]
                    </small>
                    <span v-if='last_created_item_q!=""'>
                        <small>[<wd-link :item="last_created_item_q"></wd-link>]</small>
                    </span>
                </div>

                <div v-if='is_working' style="margin-left:2rem;">
                    <img src='https://upload.wikimedia.org/wikipedia/commons/c/cd/Vector_Loading_fallback.gif' />
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm">
            <div v-if='already_used' class="alert alert-primary" role="alert" tt='already_linked'></div>
            <iframe v-if="page!=''" :style="'margin-right:5px;width:100%;display:inline-block;height:'+boxh" :src="wiki_url()"></iframe>
        </div>

        <div class="col-sm-2">
            <div :style="'display:inline-block;height:'+boxh+';overflow:auto;max-height:'+boxh">
                <div style="margin-bottom:10px">
                    <form id="search_form" class="form form-inline inline-form">
                        <div class="input-group">
                            <input class="input-element form-control" type="text" v-model="search_query">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-secondary" value="🔍" @click.prevent="search">
                            </span>
                        </div>
                    </form>
                </div>
                <div v-if='no_search_results'>
                    <i tt ='no_search_results'></i>
                </div>
                <div v-else>
                    <ol>
                        <li v-for="q in search_results" :class="li_class(q)" :key="'li_'+q">
                            <a @click.prevent="show_q(q)">
                                <small>
                                    <wd-link :item="q" text></wd-link>
                                </small>
                            </a>
                            <a :href="'https://www.wikidata.org/wiki/'+q" target="_blank" class="wikidata">🔗</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        
        <div class="col-sm">
            <iframe v-if='current_q!=""' id='wd_preview' :style="'margin-left:5px;display:inline-block;width:100%;height:'+boxh" :src='wikidata_url()'></iframe>
        </div>

    </div>
</div>
</template>

<script>
'use strict';

let ArticlePage = Vue.extend ( {
    props : ["wiki","fixed_page"] ,
    data : function () { return {
        already_used: false,
        page: "",
        server: "",
        current_q: "",
        search_query: "",
        search_results: [],
        no_search_results: false,
        is_working: false,
        work_cnt: 0,
        last_created_item_q: '',
        boxh: "1000px",
        buttons:[
            {entries:[{label:"human",q:"Q5"}]},
        ],
        species_group:["Q35409","Q34740","Q7432","Q68947"],
    } } ,
    created : function () {
        widar.maximum_number_of_tries=1;
        this.compute_server();
        this.load_interface();
        this.next_page().then(()=>this.update());
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load_interface () {
            let self = this ;
            let url = "https://www.wikidata.org/w/api.php?action=parse&format=json&prop=wikitext&page=Wikidata:Duplicity/P31&callback=?";
            $.getJSON(url,function(d){
                let lines = d.parse.wikitext["*"].split("\n");
                lines.forEach(function(line){
                    let m = line.match(/^;(.+?):([Q,0-9]+)\s*$/);
                    if ( m == null ) return;
                    let key = m[1];
                    let qs = m[2].split(',').map(function(q){ return {q:q}});
                    self.buttons.push({label:key,entries:qs});
                });
            });
        },
        compute_server () {
            let server = compute_server(this.wiki);
            if ( typeof server!='undefined' ) this.server = server;
            else alert("Cannot find server URL for wiki "+this.wiki);
        },
        compute_search_query () {
            this.search_query = this.page
                .replace(/_/g,' ')
                .replace(/ von /g,' ')
                .replace(/-/g,' ')
                .replace(/[A-Z]\./gi,' ')
                .replace(/^[a-z ]+:/i,' ')
                .replace(/\s*\(.+?\)\s*/g,' ')
                .replace(/\s+/g,' ')
                .trim();
        } ,
        wiki_url () {
            return "https://"+this.server+"/wiki/"+this.page;
        },
        wikidata_url () {
            return "https://m.wikidata.org/wiki/"+this.current_q;
        },
        skip () {
            this.next_page().then(()=>this.update());
        },
        add_to_current_q () {
            let self = this;
            let wiki = this.wiki;
            let page = this.page;
            if ( !widar.is_logged_in ) {
                let tu = encodeURIComponent(this.page.replace(/_/g,' ')) ;
                let url = "https://www.wikidata.org/wiki/Special:SetSiteLink?id=" + this.current_q + "&site=" + this.wiki + "&page=" + tu ;
                let win = window.open(url, '_blank');
                return;
            }
            let o = {
                action : 'set_sitelink' ,
                botmode : 1 ,
                q : this.current_q ,
                site : wiki ,
                title : page
            } ;
            widar.run(o,function(){
                let url = "./api.php?action=invalidate_page&wiki="+encodeURIComponent(wiki)+"&page="+encodeURIComponent(page);
                fetch(url).then(() => {
                    self.finish_operation();
                })
            });
            this.next_page().then(()=>this.update());
        },
        finish_operation () {
            if ( typeof fixed_page=='undefined' ) return;
            window.close(); // Close window if this was a fixed page
        },
        search () {
            let self = this ;
            this.show_q("");
            this.search_results = [];
            this.no_search_results = false;
            if ( this.search_query == 0 ) return ;
            self.working(true);
            $.getJSON("https://www.wikidata.org/w/api.php?callback=?",{
                action:'query',
                list:'search',
                srnamespace:0,
                srlimit:500,
                srsearch:this.search_query,
                format:'json',
            },function(d){
                let to_load = [];
                $.each(d.query.search,function(k,v){to_load.push(v.title)});
                to_load = to_load.slice(0,100);
                if (to_load.length==0) {
                    self.no_search_results = true;
                    return self.working(false);
                }
                wd.getItemBatch ( to_load , function () {
                    self.search_results = to_load;
                    self.working(false);
                    self.show_q(to_load[0]);
                });
            })
        },
        show_q ( q ) {
            this.current_q = q;
        },
        working ( x ) {
            this.work_cnt += x ? 1 : -1 ;
            if ( this.work_cnt > 0 ) {
                this.is_working = true;
                //$('#button_row button').addClass("disabled").prop('disabled', true);
            } else {
                this.is_working = false;
                //$('#button_row button').removeClass("disabled").prop('disabled', false);
            }
        },
        create_new_item () {
            let tu = encodeURIComponent(this.page.replace(/_/g,' ')) ;
            let lang_code = this.wiki.replace(/wiki.*$/,'') ;
            let lang_map = {
                'als' : 'gsw' ,
                'bat_smg' : 'sgs' ,
                'be_x_old' : 'be-tarask' ,
                'bh' : 'bho' ,
                'commons' : 'en' ,
                'fiu_vro' : 'vro' ,
                'no' : 'nb' ,
                'roa_rup' : 'rup' ,
                'simple' : 'en' ,
                'species' : 'en' ,
                'zh_classical' : 'lzh' ,
                'zh_min_nan' : 'nan' ,
                'zh_yue' : 'yue' ,
            } ;
            if ( lang_map[ lang_code ] ) lang_code = lang_map[ lang_code ] ;
            let url = "https://www.wikidata.org/wiki/Special:NewItem?lang=" + lang_code + "&site=" + this.wiki + "&page=" + tu + "&label=" + $.trim ( tu.replace ( /\(.+?\)$/ , '' ) ) ;
            let win = window.open(url, '_blank');
            this.page_done(this.wiki,this.page);
            this.next_page().then(()=>this.update());
        },
        set_claim_item (q,property,target_q,callback) {
            let o = {
                action:'set_claims',
                ids:q,
                prop:property,
                target:target_q,
                botmode:1
            };
            let self = this;
            self.working(true);
            widar.run(o,function(d){
                callback(o,d);
                self.working(false);
            },1);
        },
        set_claim_string (q,property,text,callback) {
            let o = {
                action:'set_string',
                id:q,
                prop:property,
                text:text,
                botmode:1
            };
            let self = this;
            self.working(true);
            widar.run(o,function(d){
                callback(o,d);
                self.working(false);
            },1);
        },
        create_item(callback) {
            let o = {
                action : 'create_item_from_page' ,
                botmode : 1 ,
                site : this.wiki ,
                page : this.page
            } ;
            let self = this;
            self.last_created_item_q = '';
            self.working(true);
            widar.run(o,function(d){
                let new_item_q = d.res.entity.id;
                self.last_created_item_q = new_item_q;
                callback(new_item_q);
                self.working(false);
            },1);
        },
        create_item_with_p31 (p31_q) {
            if ( !widar.is_logged_in ) return alert("Not logged in");
            let self = this;
            let site = this.site;
            let page = this.page;
            self.working(true);
            self.create_item(function(new_item_q){
                self.set_claim_item(new_item_q,"P31",p31_q, function(d){
                    self.page_done(site,page);
                    self.working(false);
                });
            })
            this.next_page().then(()=>this.update());
        },
        create_item_with_taxon (taxon_rank_q) {
            if ( !widar.is_logged_in ) return alert("Not logged in");
            let self = this;
            let site = this.site;
            let page = this.page;
            self.create_item(function(new_item_q){
                self.set_claim_item(new_item_q,"P31","Q16521", function(d){
                    self.set_claim_item(new_item_q,"P105",taxon_rank_q, function(d){
                        self.set_claim_string(new_item_q,"P225",page.replace(/_/g,' '),function(){
                            self.detect_parent_taxon(page,function(parent_taxon_q){
                                if ( parent_taxon_q=='' ) return self.page_done(site,page);
                                self.set_claim_item(new_item_q,"P171",parent_taxon_q, function(d){
                                    self.page_done(site,page);
                                });
                            });
                        })
                    })
                });
            })
            this.next_page().then(()=>this.update());
        },
        detect_parent_taxon (page,callback) {
            let self = this;
            let parent_name = "";
            let parent_taxon = "";

            // Is it a species looking for a genus?
            let m = page.match(/^(\S+)[ _](\S+)$/);
            if ( m != null ) {
                parent_name = m[1];
                parent_taxon = "Q34740";
            }

            // Is it a subspecies looking for a species?
            m = page.match(/^(\S+)[ _](\S+)[ _](\S+)$/);
            if ( m == null) m = page.match(/^(\S+)[ _](\S+)[ _]subsp\.[ _](\S+)$/);
            if ( m != null ) {
                parent_name = m[1]+" "+m[2];
                parent_taxon = "Q7432";
            }

            if ( parent_taxon=='' ) return callback('');

            let query = "\""+parent_name+"\" haswbstatement:P105="+parent_taxon;
            $.getJSON("https://www.wikidata.org/w/api.php?callback=?",{
                action: 'query',
                list: 'search',
                srsearch: query,
                srnamespace: 0,
                format:'json'
            },function(d){
                if ( d.query.search.length!=1 ) callback('');
                else callback(d.query.search[0].title);
            });
        },
        update () {
            this.compute_search_query();
            this.search();            
        },
        li_class (q) {
            let parts = ['search_result'];
            if ( q==this.current_q ) parts.push('selected');
            let i = wd.getItem ( q );
            if ( typeof i!='undefined' ) {
                let sitelinks = i.getWikiLinks() ;
                let has_sitelink = typeof sitelinks[this.wiki] != 'undefined' ;
                let is_disambig = i.hasClaimItemLink("P31","Q4167410") ;
                if ( has_sitelink ) parts.push("has_sitelink");
                if ( is_disambig ) parts.push("is_disambig");
            }
            return parts.join(" ");
        },
        logged_in () {
            return widar.is_logged_in;
        },
        user_name () {
            return widar.getUserName();
        } ,
        page_done (wiki,page) {
            let self = this;
            let url = "./api.php?action=invalidate_page&wiki="+encodeURIComponent(wiki)+"&page="+encodeURIComponent(page);
            fetch(url).then(() => {
                self.finish_operation();
            })
        },
        check_already_used () {
            let self = this;
            self.already_used = false;
            $.getJSON('//www.wikidata.org/w/api.php?callback=?',{
                action: 'wbgetentities',
                sites: self.wiki,
                titles: self.page,
                format: 'json',
            },function(d){
                let keys = Object.keys(d.entities);
                self.already_used = keys[0]!="-1";
                if ( self.already_used ) {
                    let wiki = self.wiki;
                    let page = self.page;
                    let url = "./api.php?action=invalidate_page&wiki="+encodeURIComponent(wiki)+"&page="+encodeURIComponent(page);
                    fetch(url).then(() => {
                        console.log("page invalidated: "+wiki+" / "+page);
                        if ( typeof self.fixed_page=='undefined' ) {
                            self.next_page().then(()=>self.update());
                        }
                    })
                }
            });
        },
        next_page () {
            this.already_used = false;
            this.current_q = "";
            this.search_query = "";
            this.search_results = [];
            this.no_search_results = false;
            return new Promise((resolve, reject) => {
                if ( typeof this.fixed_page!="undefined" && this.fixed_page!="" ) {
                    if ( this.page=='' ) this.page = this.fixed_page;
                    resolve();
                } else {
                    let url = "./api.php?action=random_nowd_page&wiki="+this.wiki;
                    fetch(url)
                        .then(r => r.json())
                        .then(j => {
                            if ( j.status == "OK" ) {
                                this.page = j.page ;
                                this.check_already_used();
                                resolve();
                            } else {
                                alert ( j.status ) ;
                                reject();
                            }
                        })
                }
            });
        }
    } ,
    template:'#article-page-template'
} ) ;
</script>
