<template id='categories-page-template'>
<div class='container'>
    <div class="row lead" tt='category_blurb' :tt1='wiki'>
    </div>
    <div v-if="categories.length>0" class="row">
        <table class="table">
            <tr>
                <th tt="category"></th>
                <th tt="number_of_articles"></th>
            </tr>
            <tr v-for="c in categories">
                <td>
                    <router-link :to="'/list/'+wiki+'/'+encodeURIComponent(c[0])">
                        {{c[0].replace(/_/g,' ')}}
                    </router-link>
                </td>
                <td style="text-align: right; font-family: Courier">{{c[1]}}</td>
            </tr>
        </table>
    </div>
</div>
</template>


<script>
'use strict';

let CategoriesPage = Vue.extend ( {
    props : ["wiki"] ,
    data : function () { return {
        categories: [],
        server: '',
    } } ,
    created : function () {
        this.server = compute_server(this.wiki);
        this.load_categories();
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load_categories () {
            fetch("./api.php?action=categories&wiki="+encodeURIComponent(this.wiki))
                .then(r => r.json())
                .then(j => {
                    if ( j.status!='OK' ) return alert(j.status);
                    this.categories = j.categories;
                });
        },
    } ,
    template:'#categories-page-template'
} ) ;
</script>
