<template id='list-page-template'>
<div class='container'>
    <div class="row lead" tt='list_blurb' :tt1='wiki'>
    </div>
    <div class="row">
        <td><router-link :to="'/article/'+wiki" tt="check_random_article"></router-link></td>
    </div>
    <div v-if="articles.length>0" class="row">
        <table class="table">
            <tr>
                <th>#</th>
                <th tt="article"></th>
                <th tt="check_article"></th>
                <th tt="article_created"></th>
            </tr>
            <tr v-for="a,num in articles">
                <td>{{num+1}}</td>
                <td><a :href='"https://"+server+"/wiki/"+encodeURIComponent(a.title)' target='_blank' class='wikipedia'>{{a.title}}</a></td>
                <td><router-link target='_blank' :to="'/article/'+wiki+'/'+encodeURIComponent(a.title.replace(/ /g,'_'))" tt="check"></router-link></td>
                <td>{{a.creation_date}}</td>
            </tr>
        </table>
    </div>
</div>
</template>


<script>
'use strict';

let ListPage = Vue.extend ( {
    props : ["wiki","category"] ,
    data : function () { return {
        articles: [],
        server: '',
    } } ,
    created : function () {
        this.server = compute_server_desktop(this.wiki);
        this.load_articles();
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load_articles () {
            let url = "./api.php?action=articles&wiki="+encodeURIComponent(this.wiki);
            if ( typeof this.category!='undefined') url += "&category="+encodeURIComponent(this.category);
            fetch(url)
                .then(r => r.json())
                .then(j => {
                    if ( j.status!='OK' ) return alert(j.status);
                    this.articles = j.articles;
                });
        },
    } ,
    template:'#list-page-template'
} ) ;
</script>
