<template id='main-page-template'>
<div class='container'>
	<div class="row lead" tt='main_page_blurb'>
	</div>
	<div class="row" tt="main_page_sub">
	</div>
    <div v-if="wikis.length>0" class="row">
    	<h2 tt="available_wikis"></h2>
    	<table class="table">
    		<tr>
    			<th tt="wiki"></th>
    			<th tt="show_table_header"></th>
    			<th tt="random_article"></th>
    			<th style="text-align: right;" tt="articles_without_items"></th>
    		</tr>
    		<tr v-for="w in wikis">
    			<th>{{w.wiki}}</th>
    			<td>
    				<router-link :to="'/list/'+w.wiki" tt="show_list"></router-link>
    				|
    				<router-link :to="'/stats/'+w.wiki" tt="show_stats"></router-link>
    				|
    				<router-link :to="'/categories/'+w.wiki" tt="show_categories"></router-link>
    			</td>
    			<td><router-link :to="'/article/'+w.wiki" tt="check_random_article"></router-link></td>
    			<td style="text-align: right; font-family: Courier">{{w.cnt}}</td>
			</tr>
    	</table>
    </div>
</div>
</template>

<script>
'use strict';

let MainPage = Vue.extend ( {
    props : [] ,
    data : function () { return {
    	wikis:[],
    } } ,
    created : function () {
    	this.load_wikis();
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
    	load_wikis () {
	    	let url = "./api.php?action=wikis";
            fetch(url)
                .then(r => r.json())
                .then(j => {
                	if ( j.status!='OK' ) return alert(j.status);
                	this.wikis = j.wikis;
                })

    	}
    } ,
    template:'#main-page-template'
} ) ;
</script>
