<template id='stats-page-template'>
<div class='container'>
    <div class="row lead" tt='stats_blurb' :tt1='wiki'>
    </div>
    <div class="row">
        <div id='graph' style='width:940px;height:500px;'>
        </div>
    </div>
</div>
</template>


<script>
'use strict';

let StatsPage = Vue.extend ( {
    props : ["wiki"] ,
    data : function () { return {
        data:{},
        dates:[],
    } } ,
    created : function () {
        this.load_stats();
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load_stats() {
            fetch("./api.php?action=stats&wiki="+encodeURIComponent(this.wiki))
                .then(r => r.json())
                .then(j => {
                    if ( j.status!='OK' ) return alert(j.status);
                    this.data = j.data;
                    this.dates = Object.keys(j.data).sort();
                    this.plot_graph();
                    // console.log(this.dates);
                });
        },
        str2coord(s) {
            return new Date(s.substr(0,4)*1,s.substr(4,2)*1,s.substr(6,2)*1).getTime()/10000;
        },
        plot_graph() {
            let self = this;
            let data = [self.dates.map(date => [this.str2coord(date),self.data[date]])];

            let every_nth_day = 1;
            while ( self.dates.length/every_nth_day>15 ) every_nth_day++ ;

            let cnt = 0 ;
            let xticks = []
            let unique_dates = self.dates.filter((value, index, array) => array.indexOf(value) === index);
            unique_dates.forEach(date => {
                cnt++;
                if ( cnt%every_nth_day!=0 ) return;

                let day = date.substr(0,4)+'-'+date.substr(4,2)+'-'+date.substr(6,2) ;
                let xcoord = this.str2coord(date);
                // day = day.substr(5,5);
                day = day.substr(0,7);
                xticks.push([xcoord,day]);
            });

            let metadata = {
                series: {
                        lines: { show: true },
                        points: { show: true }
                    },
                xaxis : {
                    ticks : xticks
                } , 
                yaxis : {
                    min:0
                } ,
                grid: {
                    backgroundColor: { colors: [ "#fff", "#eee" ] }
                }
            };

            // TODO auto-detect, calculate y-ticks
            // if ( true ) metadata.yaxis.transform = function(v) {return Math.log(v+0.0001);} // Log Y

            $.plot("#graph", data , metadata);
        }
    } ,
    template:'#stats-page-template'
} ) ;
</script>
