<style>
div.movie-container {
    width:220px;
    height:200px;
    max-width:220px;
    min-width:220px;
    margin-right: 0.1rem;
}
.movie-container div.legend {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: white;
    z-index:5;
    opacity: 0.5;
    color: black;
    font-size: 9pt;
}
.movie-container div.thumbnail-container {
    text-align: center;
    position: relative;
    height:200px;
}
.movie-container div.thumbnail-container:hover .legend {
    opacity: 1;
}
.movie-container div.thumbnail-container:hover {
    opacity: 0.5;
}
</style>

<template id='movie-thumb-template'>
<div class='movie-container'>
    <div class='thumbnail-container'>
        <router-link :to="'/movie/'+movie.q">
            <commons-thumbnail v-if='movie.image!=null' loading="lazy" :filename='movie.image' videothumbnail='1' width='200' nolink='1'></commons-thumbnail>
            <commons-thumbnail v-else filename='Missing-image-232x150.png' loading="lazy" width='200' nolink='1'></commons-thumbnail>
        </router-link>
        <div class="legend">
            {{movie.title}}
            <div v-if='movie.minutes!=null'>[{{movie.minutes}} min]</siv>
        </div>
    </div>
</div>
</template>


<script>
'use strict';

Vue.component ( 'movie-thumb' , {
	props : ['movie'] ,
	data : function () { return {} } ,
    created : function () {} ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
    } ,
	template : '#movie-thumb-template'
} ) ;

</script>
