<template id='play-template'>
<div class='container-fluid'>
    <page-header></page-header>
    <div style="position: fixed; left:5%; right:5%; bottom:5%; top:4rem;">
        <iframe v-if='source_prop==10' :src="'https://commons.wikimedia.org/wiki/File:'+encodeURIComponent(source_key)+'?embedplayer=yes'" width="100%" height="100%" frameborder="0" allow="autoplay" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
        <iframe v-else-if='source_prop==724' :src="'https://archive.org/embed/'+encodeURIComponent(source_key)" width="100%" height="100%" frameborder="0" allow="autoplay" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
        <iframe v-else-if='source_prop==1651' :src="'https://www.youtube-nocookie.com/embed/'+encodeURIComponent(source_key)" width="100%" height="100%" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
        <div v-else tt='unknown_source'></div>
    </div>

</div>
</template>

<script>
'use strict';

let PlayPage = Vue.extend ( {
    props : ['source_prop','source_key'] ,
    data : function () { return {  } } ,
    created : function () {
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
    } ,
    template:'#play-template'
} ) ;
</script>
